GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URI=https://cgshssdjgzzuprlwnabl.supabase.co/functions/v1/google-calendar-callback
GOOGLE_TOKEN_ENCRYPTION_KEY_BASE64=
APP_PUBLIC_URL=https://domacnost-plus.vercel.app/
SUPABASE_URL=https://cgshssdjgzzuprlwnabl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
